.mese {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 7px;
}

.mese_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff0cb;
    padding: 30px;
    width: 80%;
    margin-top: auto;
}

.mese_btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: solid;
    border-width: 5px;
    border-color: #fff0cb;
    color: white;
    background-color: #be0000;
    position:absolute;
    top:0;
    left:0;
}

.ajanlo {
    text-align: center;
    padding-top: 30px;
    border-top: solid;
}